body {
  font-family: monospace;
  background-color: #f5f5f5;
}

p {
  margin: 0.5em;
}

a img {
  border: none;
}

.prompt, #output {
  color: #29FE13;
  border: 1px solid silver;
  background-color: #050505;
  scrollbar-color: #CDCDCD #050505;
  margin: 0.5em;
  padding: 0.5em;
  overflow-x: hidden;
}

#toolbar {
  margin-left: 0.5em;
  padding-left: 0.5em;
}

#caret {
  margin-right: 0px;
  padding-right: 0px;
  border-right: 0px;
  resize: none;
}

#statement {
  margin-left: -1em;
  padding-left: 0px;
  border-left: 0px;
  background-position: top right;
  background-repeat: no-repeat;
}

.processing {
  background-image: url("/static/spinner.gif");
}

#ajax-status {
  font-weight: bold;
}

.message {
  color: #8AD;
  font-weight: bold;
  font-style: italic;
}

.error {
  color: #F44;
}

a img {
  height: 1.5em;
  vertical-align: middle
}
