<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>App Engine Python 3 Shell</title>
<script type="text/javascript" src="/static/shell.js"></script>
<link rel="stylesheet" href="/static/style.css" />
</head>

<body>
<p> Interactive server-side Python shell for
<a href="https://cloud.google.com/appengine/">Google App Engine</a>
<a href="https://cloud.google.com/appengine/docs/standard/python3/">Python 3.7 Standard</a>.
</p>

<textarea id="output" rows="22" readonly="readonly">
{{ server_software }}
Python {{ python_version }}
</textarea>

<form id="form" action="shell.do" method="post">
  <nobr>
  <textarea class="prompt" id="caret" readonly="readonly" rows="4"
            onfocus="document.getElementById('statement').focus()"
            >&gt;&gt;&gt;</textarea>
  <textarea class="prompt" name="statement" id="statement" rows="4"
            onkeyup="return shell.onPromptKeyPress(event);"></textarea>
  </nobr>
  <input type="hidden" name="session" value="{{ session }}" />
  <input type="submit" style="display: none" />
</form>

<p id="ajax-status"></p>

<p id="toolbar">
 Ctrl-Up for history | Shift-Enter for newline
 | <a href="https://github.com/snarfed/shell-py3/">Source</a>
 | <a href="http://code.google.com/appengine/">
      <img src="/static/appengine_button_noborder.gif"
           style="vertical-align: middle" /></a>
</p>

<script type="text/javascript">
document.getElementById('statement').focus();
</script>

</body>
</html>
